.hidden {
    display: none;
}

#tree-area {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.skill-tree {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.skill-tree canvas {
    width: 100% !important;
    height: 100% !important;
}

.skill {
    /* Basic button style */
    padding: 10px 15px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    width: 30%;
}

.available {
    /* background-color: #4285f4; */
    cursor: pointer;
}

.available:hover {
    transition: all 0.2s ease-in-out;
    background-color: #3367d6; /* Darker blue on hover */
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.locked {
    /* Locked state */
    background-color: #666;
    color: #ccc;
    cursor: not-allowed;
}

.unlocked {
    /* Unlocked (but not yet purchased) state */
    background-color: darkgreen;
    color: white;
    cursor: default;
}

.cant-afford {
    border: 4px solid red;
    background-color: rgb(0, 0, 128);
    color: gray;
    cursor: pointer;
}

/* Drawing connecting lines is the most complex part of the CSS */
.skill-tier {
    display: flex;
    justify-content: center;
    margin-bottom: 50px; /* Space between tiers */
}

.tooltip {
    position: relative;
}

/* Tooltip text */
.tooltiptext {
    visibility: hidden; /* Hidden by default */
    width: 100%;
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1; /* Ensure tooltip is displayed above content */
    bottom: 100%;
    left: 50%;
    margin-left: -50%;
}

/* Show the tooltip text when you hover over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Ready button */
.ready-btn {
    position: absolute;
    bottom: 20px;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    background: #4caf50;
    color: white;
    font-size: 18px;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.ready-btn:hover {
    background: #45a049;
    transform: translateX(-50%) translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.ready-btn.ready {
    background: #ff9800;
}

.ready-btn.ready:hover {
    background: #fb8c00;
}