.skill-tree {
    /* Basic container styling */
    position: relative;
    padding: 20px;
    text-align: center;
}

.skill {
    /* Basic button style */
    padding: 10px 15px;
    margin: 10px;
    border-radius: 5px;
    transition: all 0.3s;
}

.locked {
    /* Locked state */
    background-color: #666;
    color: #ccc;
    cursor: not-allowed;
}

.unlocked {
    /* Unlocked (but not yet purchased) state */
    background-color: darkgreen;
    color: white;
    cursor: pointer;
}

.cant-afford {
    border: 4px solid red;
    background-color: rgb(0, 0, 128);
    color: gray;
    cursor: pointer;
}

/* Drawing connecting lines is the most complex part of the CSS */
.skill-tier {
    display: flex;
    justify-content: center;
    margin-bottom: 50px; /* Space between tiers */
}